html, ol, ul, li, span, body, table, img, p, h1, h2, h3, h4, hr, #BAR{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;  
    min-height: 100vh;
    background-color: #1f2123
}
#main{
    color: #2279eb;
    background-color: #1f2123;
    border: 0.5px solid #000;
    width: 650px;
    height: 200px;
    text-indent: 10px;
    border-collapse: collapse;
    
}
#sub{
    color: #2279eb;
    background-color: #1f2123;
    border: 0.5px solid #000;
    width: 100%;
    height: 100%;
    position: relative;
    text-indent: 10px;
}

tr:nth-child(even){
    background-color: #26282b;
    height: 50px;
}
tr:nth-child(odd){
    height: 50px;
}
#table{
    top: 20px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.img{
    text-align: center;
}
#master{
    width: 50px;
    height: 50px;
    position: relative;
    right: 277px;
}
#visa{
    width: 50px;
    height: 50px;
    position: relative;
    right: 277px;
}
.card{
    text-align: center;
}
.edit{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
}
.text_color{
    color: #fff;
}
.list{
    color: #fff;
    display: flex;
    justify-content: center;
    margin-right: 350px;
    margin-top: 30px;
}
#pp{
    cursor:pointer
}
/* //////////////////////////////////////////////////////////////////////////////////////////////// */
#allBody {
    position: relative;
    justify-content: center;
    align-items: center;
margin-right: 20px;
}
#BAR {
   background-color: #0a0b0c;
}
#log{
    position: absolute; right: 160px; top: 26px;font-size: 30px;
    color:#2279eb ;
}
a:link { 
    text-decoration: none; 
  } 
#sign{
    position: absolute; right: 240px; top: 25px; 
    font-size: 30px;
    color:#2279eb;
}
a:link { 
    text-decoration: none; 
}     
#cart{
    position: absolute;
    width:50px;
    right: 91px;
    top: 18px;
}
#SB {
background-color: #15171a;
display: flex;
align-items: center;
justify-content: center;
}
#searchicon{
    position: absolute; right: 360px; top: 32px; 
    color: #2279eb;
    height: 30px;
    width: 30px;
    background-color:#15171a;
    border: 1px;
}

#searchbar {
   position: absolute;
   right: 400px;top: 32px;
   width: 180px;
   height: 28px;
   color: #fff ;
   background-color:#191b1ec1 ;
   border: 1px;
   outline:none ;
   text-indent: 5px;
}
#programming{
    right: 500px;
}
#food{
    color: #2279eb ;
   position: relative;
   left: -200px;
   font-size: 20px;
}
#Kids{
    color: #2279eb ;
    position: relative;
    left: 0px;
    font-size: 25px;
}
#i{
    color: #2279eb ;
    position: relative;
    left: 250px;
    font-size: 25px;
}
#f{
    color: #2279eb ;
    position: relative;
    left: 60px;
    top: 2px;
}
/* ////////////////////////////////// */
#logoo{
    position: relative;
    display: block;
    display: inline-block;
    font-size: 50px;
    size: 50px;
    top: 50px;
    right: 500px;
}
#S_logoos{
    text-align: center;
    margin-top: 10px;
}
#facebook{
    position: relative;
    display: block;
    display: inline-block;
    top: 100px;
    right: 624px;
}
#instagram{
    position: relative;
    display: block;
    display: inline-block;
    top: 100px;
    right: 608px;
}
#twitter{
    position: relative;
    display: block;
    display: inline-block;
    top: 100px;
    right: 594px;
}
#about{
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    display: inline-block;
    right: 50px;
    top: 60px;
}
#aboutus{
    text-align: center;
    position: relative;
    display: inline-block;
    right: 95px;
    top: 100px;
    color: rgb(255, 255, 255);
}
#faq{
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    right: 152px;
    top: 130px;
    display: inline-block;
}
#conn{
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    right: 188px;
    top: 160px;
    display: inline-block;
}
#explore{
    position: relative;
    display: inline-block;
    top: 60px;
    color: rgb(255, 255, 255);
    left: 33px;
    
}
#whatson{
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    top: 100px;
    display: inline-block;
    right: 80px;
}
#foods{
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    top: 130px;
    display: inline-block;
    right: 150px;
}
footer{
    width:100%;
    height:184px;
    margin-top: auto;
    bottom:0;
    background-color: #111214;
}
#allFooter{
    position: relative;
    right: 10px;
}
#S_logoos{
    position: relative;
    bottom: 20px;
}
#FootInfo{
    position: relative;
    bottom: 100px;
    text-align: center;
}
#space{
    margin-top: 200px;
}