html, ol, ul, li, span, body, table, img, p, h1, h2, h3, h4, hr,form, #BAR{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background-color: #1f2123
}
#allBody {
    position: relative;
    justify-content: center;
    align-items: center;
}
#BAR {
    background-color: #0a0b0c;
    }
#log{
position: absolute; right: 160px; top: 26px;font-size: 30px;
color:#2279eb ;
}
a:link { 
    text-decoration: none; 
    } 
#sign{
    position: absolute; right: 240px; top: 25px; 
    font-size: 30px;
    color:#2279eb;
}
a:link { 
    text-decoration: none; 
}     
#cart{
    position: absolute;
    width:50px;
    right: 91px;
    top: 18px;
}
#SB {
background-color: #15171a;
display: flex;
align-items: center;
justify-content: center;
}
#searchicon{
    position: absolute; right: 360px; top: 32px; 
    color: #2279eb;
    height: 30px;
    width: 30px;
    background-color:#15171a;
    border: 1px;
}

#searchbar {
    position: absolute;
    right: 400px;top: 32px;
    width: 180px;
    height: 28px;
    color: #fff ;
    background-color:#191b1ec1 ;
    border: 1px;
    outline:none ;
    text-indent: 5px;
}
     #programming{
         right: 500px;
     }
     #food{
        color: #2279eb ;
       position: relative;
       left: -200px;
       font-size: 20px;
    }
    #Kids{
        color: #2279eb ;
        position: relative;
        left: 0px;
        font-size: 25px;
    }
    #i{
        color: #2279eb ;
        position: relative;
        left: 250px;
        font-size: 25px;
    }
    #f{
        color: #2279eb ;
        position: relative;
        left: 60px;
        top: 2px;
    }
.con{
    color: aliceblue;
    background-color: #282b2d;
    padding-block: 2px;
    padding-inline:15px;
    border:0 ;
    outline:none ;
}
#conus{
    background-color: #1f2123;
    color: rgb(250, 255, 255);
  margin-top: 40%;
  margin-left: 47%;
}
#Name{
    position: absolute;
    margin-top:350px;
    margin-left:-450px;
    font-size: 25px;
    color: #2279eb;
    text-shadow:3px 3px #000000;
}
#subjectbar{
    position: absolute;
    margin-top:245px;
    margin-left:210px;
    height: 25px;
    width: 150px;
    border:1px  solid #000000 ;
}
#mail{
    position: absolute;
    top:450px;
    left:130px;
    font-size: 25px;
    color: #2279eb;
    text-shadow:3px 3px #000000;
}
#emailbar{
    position: absolute;
    margin-top:410px;
    margin-left:210px;
    height: 25px;
    width: 150px;
    border:1px  solid #000000 ;
}
#phnum{
    position: absolute;
    top:450px;
    right:390px;
    font-size: 25px;
    color: #2279eb;
    text-shadow:3px 3px #000000;
}
#phonenumbar{
    position: absolute;
    top:450px;
    left:-370px;
    height: 25px;
    width: 150px;
    border:1px  solid #000000 ;
}
#sub{
    position: absolute;
    top:350px;
    left:120px;
    font-size: 25px;
    color: #2279eb;
    text-shadow:3px 3px #000000;
}
#namebar{
    position: absolute;
    right:-160px;
    margin:350px;
    height: 25px;
    width: 150px;
    border:1px  solid #000000 ;
}
#ms{
    position: absolute;
    margin-left:-675px;
    margin-top:-10px;
    font-size: 25px;
    color: #2279eb;
    text-shadow:3px 3px #000000;
}
#messagebar{
    position: relative;
    margin-left:-1020px;
    margin-top:40px;    
    height: 250px;
    width: 750px;
    font-size: 15px;
    border:1px  solid #000000 ;
}
#sendbutton{
    position:absolute;
    margin-top: 350px;
    margin-left:-425px;
    background-color: #26282b;
    border: 0.5px solid #000;
    color: #2279eb;
    border-radius: 8px;
    font-size: 25px;
}
#sendbutton:hover {
    background-color: #141416;
    color: #2279eb;
} 
#formdiv{position: absolute;
    top:-160px;
    right:350px;
}
#head1{position: absolute;
    font-size: 40px;
    top: 10px;
    right: 160px;
    color:#2279eb;
    text-shadow:3px 3px #000000;
}
#head2{
    position:relative;
    font-size: 26px;
    width: 250px;
    top: 100px;
    right:-100px;
    color: #2279eb;
    text-shadow:3px 3px #000000;
    
}
#helppara{
    position: relative;
    font-size: 20px;
    left: -700px;
    top: 90px;
    width: 800px;
    height: 200px;
    color:#777772;
}
#logoo{
    position: relative;
    display: block;
    display: inline-block;
    font-size: 50px;
    size: 50px;
    top: 50px;
    right: 500px;
}
#S_logoos{
    text-align: center;
    margin-top: 10px;
}
#facebook{
    position: relative;
    display: block;
    display: inline-block;
    top: 100px;
    right: 624px;
}
#instagram{
    position: relative;
    display: block;
    display: inline-block;
    top: 100px;
    right: 608px;
}
#twitter{
    position: relative;
    display: block;
    display: inline-block;
    top: 100px;
    right: 594px;
}
#about{
    color: aliceblue;
    text-align: center;
    position: relative;
    display: inline-block;
    right: 50px;
    top: 60px;
}
#aboutus{
    text-align: center;
    position: relative;
    display: inline-block;
    right: 95px;
    top: 100px;
    color: aliceblue;
}
#faq{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    right: 152px;
    top: 130px;
    display: inline-block;
}
#conn{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    right: 188px;
    top: 160px;
    display: inline-block;
}
#explore{
    position: relative;
    display: inline-block;
    top: 60px;
    color: aliceblue;
    left: 33px;
    
}
#whatson{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    top: 100px;
    display: inline-block;
    right: 80px;
}
#foods{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    top: 130px;
    display: inline-block;
    right: 150px;
}
footer{
    width:100%;
    height:184px;
    margin-top: auto;
    bottom:0;
    background-color: #111214;
}
#allFooter{
    position: relative;
    right: 8px;
}
#S_logoos{
    position: relative;
    bottom: 20px;
}
#FootInfo{
    position: relative;
    bottom: 100px;
    text-align: center;
}
#space{
    margin-top: 300px;
}
#xd{
    position: relative;
    text-align: center;
    width: 600px;
    height: 600px;
    display: flex;
    margin: auto;
}
#hms{
    margin-left: -70px;
    margin-top:-40px;
    
}
#w1{
    top: 20px;
    margin-right: 10px;
}
#w3{
    top: 20px;
    margin-left:10px;
}
#allxd{
    margin-left: 67px; 
}
table,th,td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}
#tablelocation{
   position: relative;
   bottom: 460px;
    right: 30px;
   width: 900px;
   pointer-events: none;
}
#kk{
    display: flex;
    justify-content: center;
}
#reqinfo{
    position: relative;
    bottom: 20px;
    font-size:20px ;
}